In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#this reads the file and creates a dataframe
csv_path = os.path.join('..', 'data', 'properties_2017.csv')
df = pd.read_csv(csv_path)
csv_path2 = os.path.join('..', 'data', '2015_State_Zip_List.csv')
df = pd.read_csv(csv_path)
df2 = pd.read_csv(csv_path2)

C:\Users\HeeXPS\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#this creates the dataframe based on the variables we want
df_clean = df[["parcelid", 'bathroomcnt', 'bedroomcnt'
, 'buildingqualitytypeid'
,'calculatedfinishedsquarefeet'
,'latitude'
,'longitude'
,'numberofstories'
,'regionidcounty'
,'regionidcity'
,'regionidzip'
,'structuretaxvaluedollarcnt'
,'landtaxvaluedollarcnt'

]]

In [4]:
df2.head()

  STATE  Zip_Code
0    AL     35004
1    AL     35005
2    AL     35006
3    AL     35007
4    AL     35010

In [5]:
df3 = df_clean[np.isfinite(df_clean['regionidzip'])]

df3['regionidzip'] = df3['regionidzip'].apply(np.int32)

C:\Users\HeeXPS\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df3.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,latitude,longitude,numberofstories,regionidcounty,regionidcity,regionidzip,structuretaxvaluedollarcnt,landtaxvaluedollarcnt
0,10754147,0.0,0.0,NaN,NaN,34144442.0,-118654084.0,NaN,3101.0,37688.0,96337,NaN,9.0
1,10759547,0.0,0.0,NaN,NaN,34140430.0,-118625364.0,NaN,3101.0,37688.0,96337,NaN,27516.0
2,10843547,0.0,0.0,NaN,73026.0,33989359.0,-118394633.0,1.0,3101.0,51617.0,96095,660680.0,774261.0
3,10859147,0.0,0.0,6.0,5068.0,34148863.0,-118437206.0,1.0,3101.0,12447.0,96424,580059.0,594416.0
4,10879947,0.0,0.0,NaN,1776.0,34194168.0,-118385816.0,1.0,3101.0,12447.0,96450,196751.0,243350.0

In [7]:
df4 = df3.merge(df2, left_on='regionidzip', right_on='Zip_Code')

In [8]:
df5 = df4.drop(['regionidzip'], axis=1)
df6 = df5[np.isfinite(df5['Zip_Code'])]
df6.head()
len(df6)

685799

In [9]:
#this is for 3 bedrooms
three_df = df6[df6.bedroomcnt == 3].reset_index(drop = True)
#this is for 2 bedrooms
two_df = df6[df6.bedroomcnt == 2].reset_index(drop = True)

In [10]:
#show the three bedroom DataFrame
three_df.head()
len(three_df)

255333

In [15]:
# df.to_csv(file_name, encoding='utf-8', index=False)
path_d ='C:\\Users\\HeeXPS\\Documents\\Berkeley'
three_df.to_csv(os.path.join(path_d, 'three_bedroom.csv'), index = False)

In [16]:
two_df.to_csv(os.path.join(path_d, 'two_bedroom.csv'), index = False)