In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
csv_path = os.path.join('..', 'data', 'Zip_Zhvi_2bedroom.csv')
df_2bed = pd.read_csv(csv_path)
csv_path2 = os.path.join('..', 'data', 'Zip_Zhvi_3bedroom.csv')
df_3bed = pd.read_csv(csv_path2)

In [3]:
df_2a = df_2bed[["RegionName", 'City', 'State'
, 'CountyName'
,'2017-11']]
df2 = df_2a[np.isfinite(df_2a['2017-11'])]
df2['2017-11'] = df2['2017-11'].apply(np.int32)
df2 = df2.rename(columns={'RegionName': 'Zipcode', '2017-11' : 'Price'})
df2.head()

C:\Users\HeeXPS\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

   Zipcode      City State CountyName    Price
0    10025  New York    NY   New York  1469200
1    60657   Chicago    IL       Cook   378200
2    10023  New York    NY   New York  1968600
3    60614   Chicago    IL       Cook   405900
4    79936   El Paso    TX    El Paso    84300

In [4]:
df_3a = df_3bed[["RegionName", 'City', 'State'
, 'CountyName'
,'2017-11']]
df3 = df_3a[np.isfinite(df_3a['2017-11'])]
df3['2017-11'] = df3['2017-11'].apply(np.int32)
df3 = df3.rename(columns={'RegionName': 'Zipcode', '2017-11' : 'Price'})
df3.head()

   Zipcode     City State CountyName   Price
0    60657  Chicago    IL       Cook  567300
1    60614  Chicago    IL       Cook  628700
2    79936  El Paso    TX    El Paso  111700
3    60640  Chicago    IL       Cook  375200
4    77084  Houston    TX     Harris  151400

In [15]:
df2 = df2.drop(df2[df2.Zipcode > 99999].index)
df2 = df2.drop(df2[df2.Zipcode < 9999].index)
df3 = df3.drop(df3[df3.Zipcode > 99999].index)
df3 = df3.drop(df3[df3.Zipcode < 9999].index)