In [48]:
import os
import pandas as pd

In [49]:
#this reads the file and creates a dataframe
csv_path = os.path.join('..', 'data', 'properties_2017.csv')
df = pd.read_csv(csv_path)

C:\Users\HeeXPS\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
#this creates the dataframe based on the variables we want
df_clean = df[["parcelid", 'bathroomcnt', 'bedroomcnt'
, 'buildingqualitytypeid'
,'calculatedfinishedsquarefeet'
,'latitude'
,'longitude'
,'numberofstories'
,'regionidcounty'
,'regionidcity'
,'regionidzip'
,'structuretaxvaluedollarcnt'
,'landtaxvaluedollarcnt'

]]

In [51]:
#this is for 3 bedrooms
three_df = df_clean[df_clean.bedroomcnt == 3].reset_index(drop = True)
#this is for 2 bedrooms
two_df = df_clean[df_clean.bedroomcnt == 2].reset_index(drop = True)

In [53]:
#show the three bedroom DataFrame
three_df.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,latitude,longitude,numberofstories,regionidcounty,regionidcity,regionidzip,structuretaxvaluedollarcnt,landtaxvaluedollarcnt
0,11544747,4.0,3.0,11.0,1620.0,33996200.0,-118438000.0,NaN,3101.0,12447.0,96047.0,339532.0,508238.0
1,11585547,2.0,3.0,8.0,2077.0,34012977.0,-118479243.0,NaN,3101.0,26964.0,96152.0,210192.0,436568.0
2,11588747,3.0,3.0,5.0,2019.0,34003621.0,-118477513.0,NaN,3101.0,26964.0,96152.0,451786.0,979716.0
3,12606547,3.0,3.0,7.0,2166.0,33837000.0,-118347000.0,NaN,3101.0,54722.0,96161.0,363000.0,296000.0
4,12716947,1.0,3.0,4.0,1244.0,33953559.0,-118083855.0,NaN,3101.0,13716.0,96201.0,108040.0,61431.0